    header
{
    text-align: right;
    background-image: url("../images/header.jpg");
    background-size: 100%;
}
label
{
    display: block; float: left; width: 120px;
    padding: 0 10px; margin: 18px 0 0; text-align: center;
}
#submit
{
    float:right; margin:5px 200px 10px 0;
}
TABLE
{
    width: 700px; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
}
TD, TH 
{
    text-align: center; /* Выравнивание по левому краю */
    padding: 2px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black;
}
TH 
{
    text-align: center; /* Выравнивание по левому краю */
    background: white; /* Цвет фона */
    color: black; /* Цвет текста */
    position: static;
}
header 
{
    word-spacing: 1px;
}
footer 
{
    width: 150%; /* ширина футера */
    height: 50px; /* высота */
    position: static; /* абсолютное позиционирование */
    bottom: 0; /* прижимаем к нижнему краю обертки */
    color: #fff;
    background: #000;
}
button:hover
    {
        color: white;
        background-color: black;
        cursor: pointer;
    }
tbody tr:hover /* Строка */
{
    background: #4d94aa; /* Цвет фона при наведении */
    color: #b3ffb3; /* Цвет текста при наведении */
}
tbody td a:hover /* Столбец */
{
    link: black;
    list-style: black;
    cursor: pointer;
    background: #4d94ff; /* Цвет фона при наведении */
    color: #b3ffb3; /* Цвет текста при наведении */
}

a{
    color: black;
}